<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apple_24_Zones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Apple_24_Zones.Properties.Settings>
            <setting name="CountHeat1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CountCool1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value />
            </setting>
            <setting name="CountCool2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CountHeat2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YZone2Upper" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="YZone2Lower" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YZone1Upper" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="YZone1Lower" serializeAs="String">
                <value>0</value>
            </setting>
        </Apple_24_Zones.Properties.Settings>
    </userSettings>
</configuration>