<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apple_24_Zones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Apple_24_Zones.Properties.Settings>
            <setting name="CountHeat1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CountCool1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value />
            </setting>
            <setting name="CountCool2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CountHeat2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset0_5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset5_10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset10_15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset15_20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset20_25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset25_30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset30_35" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset35_40" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset40_45" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset45_50" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset50_55" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset55_60" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset60_65" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset65_70" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset70_75" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset75_80" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset80_85" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset85_90" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset90_95" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset95_100" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset100_105" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset105_110" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset110_115" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset115_120" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset120_125" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset125_130" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset130_135" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset135_140" serializeAs="String">
                <value>0</value>
            </setting>
        </Apple_24_Zones.Properties.Settings>
    </userSettings>
</configuration>